table{
  margin: auto;
  width: 100%;
}

thead tr{
  display: flex;
  justify-content: space-between;  
  /* border: 1px solid #000 !important; */
}

/* tbody tr td{
  width: 300px !important;
} */

tbody tr{  
}

tbody tr {
  flex-direction: row;
  justify-content: space-around;
  width: 100% !important;
}

tbody{
  width: 100%;
}

/* .colunatp{
  width: 39%;
}
.coluna{
  width: 14%;
} */